{% extends 'donors/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    {% if form.errors %}
        <p style="color: red;">Please correct the errors below:</p>
        <ul style="color: red;">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
