
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    text-align: left;
}

form .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

form .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #d42c0a;
    border: none;
    border-radius: 5px;
    color: rgb(179, 15, 15);
    font-size: 16px;
    cursor: pointer;
}

form .btn-primary:hover {
    background-color: #ad2803;
}


a {
    color: #e6410f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
