{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
            </div>
            <div class="form-group mt-3">
                {{ form.email|add_class:"form-control"|attr:"placeholder:Email" }}
            </div>
            <div class="form-group mt-3">
                {{ form.password1|add_class:"form-control"|attr:"placeholder:Password" }}
            </div>
            <div class="form-group mt-3">
                {{ form.password2|add_class:"form-control"|attr:"placeholder:Confirm Password" }}
            </div>
            <div class="form-group mt-3">
                {{ form.blood_type|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-danger mt-3">Register</button>
        </form>
    </div>
</div>
{% endblock %}